 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Design</h2>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-javascript-plain colored"></i>
      <p>HTML, JSP, CSS, Jquery, Ajax, Bootstrap, JavaScript, Angular.js</p>
    </div>
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-java-plain-wordmark colored"></i>
      <i class="devicon-angularjs-plain-wordmark colored"></i>
      <i class="devicon-python-plain colored"></i>
      <p>Java, Python, Java Struts 2, Hibernate, Spring MVC</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-git-plain"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-docker-plain colored"></i>
      <p>Docker, SVN, Git, Gulp, Eclipse, Maven, MySql, SQL Server</p>
    </div>
    <hr style="background-color: #ffffff;">
</div>
