 <div class="row">
    <h2> My Expertise </h2>
    <p class="user-description"> {{site.user_description}} </p>
</div>
<div class="row">
  <div class="user-skills">
    <div class="tech-box">
      <h3>Design</h3>
      <i class="devicon-html5-plain-wordmark icon"></i>
      <i class="devicon-bootstrap-plain-wordmark colored icon"></i>
      <i class="devicon-javascript-plain colored icon"></i>
      <p>HTML, JSP, CSS, Jquery, Ajax, Bootstrap, JavaScript, Angular.js</p>
    </div>
    <div class="tech-box">
      <h3>Code</h3>
      <i class="devicon-java-plain-wordmark colored icon"></i>
      <i class="devicon-angularjs-plain-wordmark colored icon"></i>
      <i class="devicon-python-plain colored icon"></i>
      <p>Java, Python, Java Struts 2, Hibernate, Spring MVC</p>
    </div>
    <div class="tech-box">
      <h3>Tools</h3>
      <i class="devicon-git-plain icon"></i>
      <i class="devicon-gulp-plain colored icon"></i>
      <i class="devicon-docker-plain colored icon"></i>
      <p>Docker, SVN, Git, Gulp, Eclipse, Maven, MySql, SQL Server</p>
    </div>
    <hr style="background-color: #ffffff;">
  </div>
</div>
