<header id="particles-js">
  <nav>
    <div class="row mobile-nav">
      <ul class="main-nav">
        <li><a class="link" href="#about" data-scroll>About Me</a></li>
        <li><a class="link" href="#projects" data-scroll>Projects</a></li>
        <li><a class="link" href="#publications" data-scroll>Publications</a></li>
      </ul>
    </div>
  </nav>
  <div class="header-text-box">
    <h1 class="site-title">
      Hello, I'm <span class="highlight">{{site.username}}</span>
    </h1>
    <p class="site-description">{{site.user_title}}</p>
    <div class="header-icons">
      <a aria-label="Send email" href="mailto:arjun.ankathatti@gmail.com">
        <i class="icon fa fa-envelope"></i></a>
      <a aria-label="My LinkedIn" target="_blank" href="https://linkedin.com/in/acarjungowda">
        <i class="icon fa fa-linkedin" aria-hidden="true"></i></a>
      <a aria-label="My Github" target="_blank" href="https://github.com/acarjungowda">
        <i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
    </div>
  </div>
</br>
</br>
<a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</header>
