<div class="user-details">
  <h1> Poster Demos </h1>
</div>
<!-- ************************************************************************************ -->
<div class="user-posters">
  <div class="poster-images-right">
    <img style="width:220px;height:170px;" alt="CyNeuro Poster" src="{{ "/assets/img/cyneuro_poster.png" | prepend: site.baseurl }}" />
  </div>
  <div class="poster-contents">
    <h3> Teamplate as a Service for NeuroScience Workflows </h3>
    <p>CyNeuro Symposium, University of Missouri</p>
    <p>Demonstrated the use of templates and cognitive user interface in science gateways for scientific applications on CyberInfrastructure.</p>
  </div>
</div>
