<div class="user-details">
  <h1> Poster Demos </h1>
</div>
<!-- ************************************************************************************ -->
<div class="user-posters">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/multicloud.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Teamplate as a Service for NeuroScience Workflows </h3>
    <p>CyNeuro Symposium, University of Missouri</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  </div>
</div>
