<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<!-- ************************************************************************************ -->
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/multicloud.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Multi-Cloud Resource Recommender for Scientific Applicaitons </h3>
    <ul>
      <li>Java Struts 2, HTML, CSS, Jquery</li>
      <li>Expert Systems, Resource Recommendations</li>
    </ul>
    <p>Multi-cloud resource recommender and deployment engine for scientific applications</p>
    <!-- <a class="project-link" href="#">Check it out</a> -->
  </div>
</div>
<!-- ************************************************************************************ -->
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/checkers.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Self-learning evolutionary algorithm in Python to play the game of Checkers </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<!-- ************************************************************************************ -->
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/chatbot.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Virtual Assistant using Chatbot to navigate and help novice researchers</h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <!-- <a class="project-link" href="#">Check it out</a> -->
  </div>
</div>
<!-- ************************************************************************************ -->
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/protein_structure.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Hidden Markov Model for protein structure prediction using Python 3 and NumPy </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<!-- ************************************************************************************ -->
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/home_automation.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Android app for home automation system using GPRS </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
