<div class="row js--publications-wp">
	<div class="user-details">
		<h2> Publications </h2>
	</div>
</div>
<!-- ************************************************************************************ -->
<div class="row">
	<div class="user-posters">
		<ul>
			<li>
				R. Antequera, Prasad. Calyam, A. Chandrashekara, R. Mitra, 
				<b>"Recommending heterogeneous resources for science gateway applications based on custom templates composition. Future Generation Computer Systems."</b>
				<i>Future Generation Computer Systems,</i> 2019.
			</li>
			</br>
			<li>
				A. Ankathatti, R. Talluri, S. Sivaratri, etl. <b>"VIDURA: Fuzzy Based Conversational Recommenders"</b>
				<i>IEEE BigData ChatbotML Workshop,</i> 2018.
			</li>
			</br>
			<li>
				R. Antequera, P. Calyam, <b>A. Chandrashekara</b>, S. Malhotra, 
				<b>“Recommending Resources to Cloud Applications based on Custom Templates Composition”</b>, 
				<i>ACM Computing Frontiers Conference,</i> 2017.
			</li>
		</ul>
	</div>
</div>
